.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.lines{
  stroke:blue;
  stroke-width:4;
}

.lines path{
  stroke:red;
  stroke-linejoin:round;
}

rect,circle{
  fill:steelblue
}
text{
  font-family:sans-serif;
}
.tick text{
  color:#635f5d;
}
.tick line{
  stroke:#c0c0bb;
}
.axis-label{
  font-size:3em;
  fill:#8e8883;
}
.title{
font-size:1.5em;
fill:#635f5d;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
